// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.site-canvas, .site-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.site-canvas {
    display: table;
    width: 100%;
}

.site-canvas {
    position: relative;
    width: 100%;
    transition: .3s ease all;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.page-row {
    display: table-row;
    height: 1px;
}

.top-bar {
    background-color: #fff;
    padding: 10px;
}
